@import 'tailwindcss';

:root {
  --color-light-100: #ffffff;
  --color-light-200: #f9fafb;
  --color-light-300: #f3f4f6;
}

:root {
  --foreground: #020617;
  --background: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #f8fafc;
    --background: #020617;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}

